<header class="header">
  <h1>Pokédex</h1>

  <%= link_to "Trainers", trainers_path %>
  <%= link_to "Random Pokemon", "" %>
  <b>search bar for pokemon</b>
</header>

<div class="grid">
  <% @pokemons.each do |pokemon| %>
    <%= render pokemon %>
  <% end %>
</div>