<h1>Pokédex</h1>

<ul>
<li>link for trainers</li>
<li>link for random pokemon</li>
<li>search bar for pokemon</li>
<li>list of pokemon cards</li>
</ul>

<!--
@pokemons.each do ||
  - present pokemon card
end
-->

<% @pokemons.each do |pokemon| %>
  <div>
    <%= cl_image_tag pokemon.photo.key %>
    <%= pokemon.name.capitalize %>
    <%= pokemon.element_type.capitalize %>
  </div>

<% end %>