<header class="header">
  <%= link_to "< Pokédex", root_path %>
</header>

<div class="two-columns">
  <div>
    text
    <br>
    <%= render @pokemon %>
  </div>
  <div>
    text
    <br>
    fornm to catch pokemon
  </div>
</div>
